.u-section-1 .u-sheet-1 {
  min-height: 935px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 642px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 19px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 4.5rem;
  margin: 127px 11px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 11px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  margin: 45px auto 0 11px;
  padding: 18px 43px 19px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 642px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 519px;
  height: 519px;
  background-image: url("images/image.png");
  background-position: 50% 50%;
  margin: 51px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 696px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 696px;
  }

  .u-section-1 .u-image-1 {
    width: 479px;
    height: 479px;
    margin-top: 53px;
    margin-right: -9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 360px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 608px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-2 {
  background-image: url("images/pexels-vlado-paunovic-9451497.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 679px;
}

.u-section-2 .u-group-1 {
  width: 106px;
  min-height: 106px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 60px auto 0 1px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 77px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-2 {
  margin: -78px 705px 0 134px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 31px 703px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 639px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 503px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 419px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 239px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 39px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 561px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-style: normal;
  font-size: 4.5rem;
  margin: 70px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.8;
  margin: 43px 391px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  margin: 43px auto -181px 0;
  padding: 18px 43px 19px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    width: 749px;
    margin-right: 191px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: -296px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    width: 540px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 40px;
    margin-right: 120px;
    margin-bottom: -31px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 690px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 70px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 38px 200px 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 349px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 25px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 23px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 25px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 23px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 25px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 23px auto 0 0;
}

.u-section-4 .u-text-8 {
  font-style: normal;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 63px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 45px;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    min-height: 288px;
    grid-gap: 30px 30px;
    grid-auto-columns: calc(33.3333% - 20px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 707px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 703px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 44px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 583px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-group-1 {
  width: 318px;
  min-height: 201px;
  margin: 21px auto 0 41px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-text-1 {
  line-height: 1.6;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-5 .u-image-1 {
  width: 343px;
  height: 348px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -48px 0 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 583px;
}

.u-section-5 .u-container-layout-3 {
  padding: 29px 60px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 7px;
}

.u-section-5 .u-text-3 {
  margin: 20px 7px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 481px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 721px;
  }

  .u-section-5 .u-group-1 {
    width: 300px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 249px;
    height: 284px;
    margin-top: -33px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1059px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 325px;
    height: 325px;
    margin-top: -74px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 0;
  }

  .u-section-5 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: -53px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 719px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

.u-section-6 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 484px;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 25px;
}

.u-section-6 .u-image-1 {
  width: 240px;
  height: 240px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-6 .u-text-4 {
  font-style: normal;
  font-weight: 400;
  margin: 23px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 25px;
}

.u-section-6 .u-image-2 {
  width: 240px;
  height: 240px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: normal;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-6 .u-text-7 {
  font-style: normal;
  font-weight: 400;
  margin: 23px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 25px;
}

.u-section-6 .u-image-3 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: normal;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-6 .u-text-10 {
  font-style: normal;
  font-weight: 400;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 23px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 917px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1540px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-6 .u-list-1 {
    margin-top: 18px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 691px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  font-size: 4.5rem;
  font-weight: 700;
  margin-top: 90px;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  margin: 20px 305px 0 0;
}

.u-section-7 .u-list-1 {
  margin-top: 61px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 308px;
  grid-gap: 20px;
}

.u-section-7 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 20px 0 0;
  padding: 13px;
}

.u-section-7 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 0.875rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-7 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 20px 0 0;
  padding: 13px;
}

.u-section-7 .u-text-5 {
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-6 {
  font-size: 0.875rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-7 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 20px 0 0;
  padding: 13px;
}

.u-section-7 .u-text-7 {
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-8 {
  font-size: 0.875rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 105px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 247px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 568px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 872px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 494px 0 0;
}

.u-section-8 .u-gallery-1 {
  height: 500px;
  width: 853px;
  grid-gap: 10px;
  margin: 73px auto 0 0;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-8 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-8 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-8 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-8 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-8 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-8 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-8 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-8 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-8 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-8 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-8 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-8 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-8 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-thumbnails-1 {
  padding-top: 30px;
  padding-bottom: 0;
  padding-right: 0;
}

.u-section-8 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-text-2 {
  margin: 27px 575px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 22px 1012px -41px 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 294px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 375px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 812px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 244px;
  }

  .u-section-8 .u-gallery-1 {
    width: 720px;
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 155px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 592px;
    margin-bottom: -48px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: 64px;
  }

  .u-section-8 .u-gallery-1 {
    width: 540px;
  }

  .u-section-8 .u-carousel-thumbnail-1 {
    width: 73px;
    height: 73px;
  }

  .u-section-8 .u-carousel-thumbnail-2 {
    width: 73px;
    height: 73px;
  }

  .u-section-8 .u-carousel-thumbnail-3 {
    width: 73px;
    height: 73px;
  }

  .u-section-8 .u-carousel-thumbnail-4 {
    width: 73px;
    height: 73px;
  }

  .u-section-8 .u-carousel-thumbnail-5 {
    width: 73px;
    height: 73px;
  }

  .u-section-8 .u-carousel-thumbnail-6 {
    width: 73px;
    height: 73px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 412px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-8 .u-gallery-1 {
    width: 340px;
  }

  .u-section-8 .u-carousel-thumbnail-1 {
    width: 40px;
    height: 40px;
  }

  .u-section-8 .u-carousel-thumbnail-2 {
    width: 40px;
    height: 40px;
  }

  .u-section-8 .u-carousel-thumbnail-3 {
    width: 40px;
    height: 40px;
  }

  .u-section-8 .u-carousel-thumbnail-4 {
    width: 40px;
    height: 40px;
  }

  .u-section-8 .u-carousel-thumbnail-5 {
    width: 40px;
    height: 40px;
  }

  .u-section-8 .u-carousel-thumbnail-6 {
    width: 40px;
    height: 40px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 212px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 492px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

.u-section-9 .u-text-2 {
  font-style: normal;
  margin: 20px 276px 0 0;
}

.u-section-9 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-9 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 25px 30px;
}

.u-section-9 .u-icon-1 {
  height: 17px;
  width: 17px;
}

.u-section-9 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-9 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 25px 30px;
}

.u-section-9 .u-icon-2 {
  height: 17px;
  width: 17px;
}

.u-section-9 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-9 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-9 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 25px 30px;
}

.u-section-9 .u-icon-3 {
  height: 17px;
  width: 17px;
}

.u-section-9 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-9 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    margin-right: 76px;
  }

  .u-section-9 .u-icon-1 {
    padding: 25px;
  }

  .u-section-9 .u-icon-2 {
    padding: 25px;
  }

  .u-section-9 .u-icon-3 {
    padding: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 20px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 396px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

.u-section-10 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 60px 0;
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    font-size: 2.25rem;
  }
}